#include <physical_layouts.dtsi>







&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "disabled";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

/ {
	chosen {
		zmk,kscan = &matrix;

	};

	matrix: kscan {
		compatible = "zmk,kscan-gpio-matrix";
		wakeup-source;
		diode-direction = "col2row";

		col-gpios = 
			<&gpio0 6 GPIO_ACTIVE_HIGH>,
			<&gpio0 8 GPIO_ACTIVE_HIGH>,
			<&gpio1 6 GPIO_ACTIVE_HIGH>,
			<&gpio1 4 GPIO_ACTIVE_HIGH>,
			<&gpio0 20 GPIO_ACTIVE_HIGH>;

		row-gpios =
			<&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
			<&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
			<&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
			<&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
			<&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
	};

	left_encoder: encoder_left {
		compatible = "alps,ec11";
		label = "left_encoder";
		a-gpios = <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		b-gpios = <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		steps = <80>;
		status = "okay";
	};

	right_encoder: encoder_right {
		compatible = "alps,ec11";
		label = "right_encoder";
		a-gpios = <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		b-gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		steps = <80>;
		status = "okay";
	};

	sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&left_encoder &right_encoder>;
	};
};
