#include <physical_layouts.dtsi>
/* https://zmk-physical-layout-converter.streamlit.app/?layout=H4sIAAAAAAACA4XOsQrCMBCA4b1PcWQu0t7d5OYuuNihFIfuBQcVLCHvbkxLCyL8U3L3J_DFSiRM43x_PR_hKDGPeXE-9Zfuus3bk7wZ1o1IlPDOi-bQ1BLm5Sap_u0Off_f_u0tdIVu0B367lPwKfgUfAo-BZ-Bz8Bn4DPwGfgcfA4-B5-Dr_Q138r5nVKVPv-qrYAFAwAA */

/ {
    macro32_layout: macro32_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        kscan = <&matrix>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  100       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  100  200       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  200       0     0     0>
            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  100  300       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  300       0     0     0>
            , <&key_physical_attrs 100 100    0  400       0     0     0>
            , <&key_physical_attrs 100 100  100  400       0     0     0>
            , <&key_physical_attrs 100 100  200  400       0     0     0>
            , <&key_physical_attrs 100 100  300  400       0     0     0>
            , <&key_physical_attrs 100 100  400  400       0     0     0>
            ;
    };
};
