/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp Q             &kp B
&kp R             &kp S             &kp T             &kp H             &kp K
&kp C             &kp G             &kp D             &kp SPACE         &kp E
&kp Z             &kp V             &kp B             &kp N             &kp M
&kp COMMA         &kp PERIOD        &kp SLASH         &studio_unlock         &kp EQUAL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        nav {
            bindings = <
&kp ESCAPE        &kp DELETE
&kp A             &kp B             &kp C             &kp D             &kp E
&kp F             &kp G             &kp H             &kp I             &kp J
&kp K             &kp L             &kp M             &kp N             &kp O
&kp P             &kp Q             &kp R             &kp S             &kp T
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        synnum {
            bindings = <
&kp N1            &kp N2
&kp N3            &kp N4            &kp N5            &kp N6            &kp N7
&kp N8            &kp N9            &kp N0            &kp MINUS         &kp EQUAL
&kp LBKT          &kp RBKT          &kp SEMICOLON     &kp APOSTROPHE    &kp GRAVE
&kp BACKSLASH     &kp COMMA         &kp DOT           &kp SLASH         &kp ENTER
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        fun {
            bindings = <
&kp F1            &kp F2
&kp F3            &kp F4            &kp F5            &kp F6            &kp F7
&kp F8            &kp F9            &kp F10           &kp F11           &kp F12
&kp UP            &kp DOWN          &kp LEFT          &kp RIGHT         &kp ENTER
&kp BACKSPACE     &kp DELETE        &kp ESCAPE        &kp TAB           &kp RESET
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};